/*layout*/
#header{
    position: fixed;
    left: 0px; top: 0px;
    z-index: 1000;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.6);
}
#header .inner{ 
    position: relative;
    margin: 0 auto;
    width: 1280px; height: 100px;
}
#visual{
    position: relative;
    text-align: center;
    width: 100%; 
}
#new_product{ width: 100%; }
#new_product .inner{
    position: relative;
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 210px;
    width: 1280px; 
}
#collection{
    width: 100%;  height: 972px;
    background: url(../images/collection_bgc.jpg) center top no-repeat;
    background-size: cover;
}

#collection .inner{
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 140px;
    width: 1280px; height: 972px;
}
#footer{width: 100%; background-color: black;}
#footer .inner{
    margin: 0 auto;
    width: 1280px; height: 659px;
}

/*header*/
#header .logo{
    position: absolute;
    left: 0px; top: 35px;
}
#header .gnb{
    position: absolute;
    right: 263px; top: 48px;
   
}
#header .gnb ul{display: flex;}
#header .gnb ul li a{ 
    color: white; 
    font-size: 18px; 
    font-weight: 400;
}
#header .gnb .main:nth-child(1){margin-right: 52px;}
#header .gnb .main:nth-child(2){margin-right: 38px;}
#header .gnb .main:nth-child(3){margin-right: 65px;}
#header .gnb .main:nth-child(4){margin-right: 34px;}
#header .gnb .main:nth-child(5){margin-right: 53px;}
#header .gnb .m:hover{color: #fcf895;}
#header .gnb .sub li:hover a{color: #fcf895;}
#header .gnb .sub{
    display: block;
    overflow: hidden;
    position: relative;
    top: 33px; 
    width: 100%; height: 0px;
}
#header .gnb .sub li {height:50px;}
#header .gnb .sub a{
    font-size: 16px;
    font-family: 'Noto Sans KR';
}
#header .gnb_bgbox {
	position:absolute; 
	z-index:-10;
	left:0px; top:100px; 
	width:100%; 
	height:0px; 
	background-color: rgba(0, 0, 0, 0.6);
}
#header .util{
    display: flex; 
    justify-content: space-between;
    position: absolute;
    right: 0px; top: 44px;
    width: 207px; height: 21px;
}
#header .util #t1{
    border: 0;
    width: 120px; height: 21px;
    background: none;
    border-bottom: 2px solid rgb(170, 169, 169);
    outline: none;
    color: white;
}
#header .util input{float: left;}
#header .util input:after{content: ''; display: block; clear: both;}
#header .util .icon{opacity: 0.7;}
#header .util .heart{opacity: 0.5;}
#header .util .icon:hover{opacity: 1;}

/*visual*/
#visual .slide_show{
    width: 100%; 
    border: 1px solid black;
    overflow: hidden;
}
#visual img{width: 100%;}
#visual  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    display: flex;
    z-index: 10;
    position: absolute;
    left: 50%; bottom: 7vh;
    transform: translateX(-50%);
}
#visual .bx-wrapper .bx-pager.bx-default-pager a{
    margin-right: 20px;
    display: block;
    color: transparent;
    width: 50px; height: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}
#visual  .bx-wrapper .bx-pager.bx-default-pager a.active, 
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background-color: #fff;
}
#visual .bx-prev{
    position: absolute;
    left: 310px; top: 50%;
    transform: translateY(-50%);
    color: transparent;
    width: 55px; height: 103px;
    background: url(../images/visual_left.png) center top no-repeat;
}
#visual .bx-next{
    position: absolute;
    right: 310px; top: 50%;
    transform: translateY(-50%);
    color: transparent;
    width: 55px; height: 103px;
    background: url(../images/visual_right.png) center top no-repeat;
}

/*contents > new_product*/
#new_product .inner>h2{
    text-align: center;
    height: 50px;
    font-size: 40px;
    line-height: 36px;
    font-weight: 300;
    padding-bottom: 73px;
    color: #333333;
}
#new_product .inner span{
   display: block;
   font-size: 18px;
   color: #5f5e5e;
}
#new_product .inner ul{
    display: flex;
    justify-content: space-between;
}
#new_product .inner li{
    width: 369px; height: 463px;
    overflow: hidden;
}
#new_product .inner li p{
   position: absolute;
   top: 305px;
   font-size: 24px;
   padding-left: 30px;
}
#new_product .inner li img{
    transition: 0.5s;
}
#new_product .inner li img:hover{
    transform: scale(1.1);
}

/*contents > collection*/
#collection .inner ul{
    display: flex;
    justify-content: space-between;
}
#collection .inner h2{
    padding-bottom: 42px;
    font-size: 40px;
    font-weight: 300;
    color: white;
    text-align: center;
}
#collection .inner span{
    display: block;
    font-size: 18px;
    padding-top: 13px;
}
#collection .inner .img_box{
    width: 380px; height: 479px;
    background-color: #f9f9f9;
}
#collection .inner div{
    width: 380px; height: 125px;
    background-color: white;
}
#collection .inner div h3{
    text-align: center;
    padding-top: 40px;
    line-height: 16px;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Noto Sans KR';   
}
#collection .inner div p{
    padding-top: 17px;
    text-align: center;
    line-height: 16px;
    font-family: 'Noto Sans KR';
}
#collection .inner .img_box{
    position: relative;
}
#collection .inner .img_box img{
    position: absolute; 
    transition: 0.5s;
}
#collection .inner .img_box img:last-child{opacity: 0;}
#collection .inner .img_box img:last-child:hover{opacity: 1;}
/*footer*/
#footer .sitemap{
    display: flex;
    padding-top: 97px;
    padding-bottom: 131px;
    font-family: 'Noto Sans KR';
  
    color: white;
}
#footer .sitemap h3{
    padding-bottom: 30px; font-size: 16px;}
#footer .sitemap div:nth-of-type(4) h3{padding-bottom: 0px;}
#footer .sitemap .f1{width:344px;}
#footer .sitemap .f2{width:370px;}
#footer .sitemap .f3{width:358px;}
#footer .sitemap .f4{width:210px;}
#footer .sitemap .f4 p{font-size: 16px; font-weight: 900; }
#footer .sitemap .f4 span{
    display: block; 
    font-size: 14px;
    font-weight:400;
    padding-top:14px; 
}
#footer .sitemap .f4 li:last-child{
    padding-top: 30px;
    font-weight: 900;
}
#footer .sitemap ul li{
    line-height: 14px;
    padding-bottom: 16px;
}
#footer .sitemap ul li a{
    color: white;
    font-size: 14px;
}
#footer .info ul{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 370px;
   
}
#footer .f_logo{
    padding-top: 41px;
    text-align: center;
}